<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs')%>
    <title><%=title%></title>
</head>
<body>
    <div class="wrapper">
        <%- include('partials/header.ejs') %>
        <div>
            <h1>Agenda tu cita</h1>
            <!-- https://developer.mozilla.org/en-US/docs/Learn/Forms/Sending_and_retrieving_form_data -->
            <form action="/nueva-cita" method="POST">
                <input type="text" name="nombreCliente" id="nombreCliente" placeholder="Nombre cliente" autocomplete="off">
                <input type="text" name="nombreMascota" id="nombreMascota" placeholder="Nombre mascota" autocomplete="off">
                <input type="text" name="tamanoMascota" id="tamanoMascota" placeholder="Tamaño" autocomplete="off">
                <input type="email" name="emailCliente" id="emailCliente" placeholder="Email" autocomplete="off">
                <input type="tel" name="numeroTelefono" id="numeroTelefono" placeholder="Número teléfono" autocomplete="off">
                <div class="servicio-container">
                    <label for="">Servicio</label>
                    <div>
                        <div class="servicio-opc">
                            <i class="fa-solid fa-scissors"></i>
                            <i class="fa-solid fa-bath"></i>
                            <h2>Baño con Corte</h2>
                        </div>
                        <div class="servicio-opc">
                            <i class="fa-solid fa-bath"></i>
                            <h2>Baño</h2>
                        </div>
                    </div>
                    <div class="servicio-info">
                        <ul>
                            <li>Agua tibia</li>
                            <li>Limpieza de oídos</li>
                            <li>Deslanado de pelo muerto</li>
                            <li>Limpieza de cojinetes</li>
                            <li>Corte de uñas</li>
                            <li>Loción</li>
                            <li>Limpieza de glándulas anales</li>
                        </ul>
                    </div>
                </div>
                <div class="horario-container">
                    <label for="">Fecha</label>
                    <input type="date" name="fechaCita" id="fechaCita" class="fecha-cita">
                    <label for="">Hora</label>
                    <input type="time" name="horaCita" id="horaCita" class="hora-cita">
                </div>
                <div class="politicas">
                    <div class="politicas-opc">
                        <input type="checkbox" name="" id="">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, minus. Non fugiat a quisquam, sequi facere eaque labore excepturi quia. Soluta corporis veritatis, fugit, doloribus voluptatibus, quod quidem similique voluptate unde illo molestias. Itaque vel ullam explicabo necessitatibus cupiditate quod.</p>
                    </div>
                    <div class="politicas-opc">
                        <input type="checkbox" name="" id="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum odio soluta omnis natus officia, id ipsa nesciunt similique totam quas veniam esse sequi minus molestias temporibus est! Saepe voluptatem dolorem eligendi possimus porro officiis est quod esse reiciendis, ipsum quasi.</p>
                    </div>
                    <div class="politicas-opc">
                        <input type="checkbox" name="" id="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error blanditiis nam ad distinctio tenetur ipsa vitae sit, temporibus sunt nobis! Molestias vel distinctio rem. Exercitationem, harum ad libero aliquid doloribus veritatis aliquam, ut, unde commodi in maiores tenetur facere temporibus!</p>
                    </div>
                </div>
                <button id="btnAgendar" type="submit">Agendar</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer.ejs')%>    
</body>
<%- include('partials/scripts.ejs')%>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>