<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs')%>
        <title>
            <%=title%>
        </title>
</head>

<body>
    <div class="wrapper">
        <%- include('partials/header.ejs') %>
            <div class="cita-container">
                <h1>Agenda tu cita</h1>
                <!-- https://developer.mozilla.org/en-US/docs/Learn/Forms/Sending_and_retrieving_form_data -->
                <form action="/nueva-cita" method="POST" class="form-cita">
                    <div class="cita-section">
                        <div class="inputBox">
                            <input type="text" name="nombreCliente" id="nombreCliente" autocomplete="off" required>
                            <span>Nombre Cliente</span>
                        </div>
                        <div class="inputBox">
                            <input type="tel" name="numeroTelefono" id="numeroTelefono" autocomplete="off" required>
                            <span>Numero de Telefono</span>
                        </div>
                        <div class="inputBox" id="divSegundoNumTel">
                            <input type="tel" name="segundoNumTel" id="segundoNumTel" autocomplete="off" required>
                            <span>Extra Numero de Telefono</span>
                        </div>
                        <div class="agregar-mas">
                            <label for="btnAgregarTel">
                                <i class="fa-solid fa-plus"></i>
                            </label>
                            <input type="checkbox" name="btnAgregarTel" id="btnAgregarTel">
                        </div>
                        
                        <div class="datos-mascota">
                            <div class="inputBox">
                                <input type="text" name="nombreMascota" id="nombreMascota" autocomplete="off" required>
                                <span>Nombre Mascota</span>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="razaMascota" id="razaMascota" autocomplete="off" required>
                                <span>Raza Mascota</span>
                            </div>
                        </div>
                        <div class="agregar-mas">
                            <label for="btnAgregarMascota">
                                <i class="fa-solid fa-plus"></i>
                            </label>
                            <input type="checkbox" name="btnAgregarMascota" id="btnAgregarMascota">
                        </div>
                        <div id="selServicio" class="servicio-select">
                            <label for="touch">
                                <span>Servicio</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </label>
                            <input type="checkbox" id="touch">
                            <ul class="slide">
                                <li class="servicio-opc" id="opcBano">Baño</li>
                                <li class="servicio-opc" id="opcBanoCorte">Baño con Corte</li>
                                <li class="servicio-opc" id="opcCorte">Corte</li>
                                <li class="servicio-opc" id="opcCoteUnas">Corte de Uñas</li>
                            </ul>
                        </div>
                        <div class="inputBox">
                            <input type="number" name="precio" id="precioServicio" autocomplete="off" required>
                            <span>Precio (opcional)</span>
                        </div>
                        <div class="horario-cont-fecha horario-container">
                            <div>
                                <label for="fechaCita">Fecha</label>
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                            <input type="date" name="fechaCita" id="fechaCita" class="fecha-cita">
                        </div>
                        <div class="horario-cont-hora horario-container">
                            <div>
                                <label for="horaCita">Hora</label>
                                <i class="fa-regular fa-clock"></i>
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                            <input type="time" name="horaCita" id="horaCita" class="hora-cita">
                        </div>
                    </div>
                    <button id="btnAgendar" type="submit">Agendar</button>
                </form>
            </div>
    </div>
    <%- include('partials/footer.ejs')%>
</body>
<%- include('partials/scripts.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/agendar.js"></script>

</html>